<h1>Listing pointers</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Value</th>
      <th>Contact</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pointers.each do |pointer| %>
      <tr>
        <td><%= pointer.type %></td>
        <td><%= pointer.value %></td>
        <td><%= pointer.contact_id %></td>
        <td><%= link_to 'Show', pointer %></td>
        <td><%= link_to 'Edit', edit_pointer_path(pointer) %></td>
        <td><%= link_to 'Destroy', pointer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pointer', new_pointer_path %>
