<!-- container -->
<div class="container">
    <!--<div id="notice"><%= notice %></div>-->

    <!-- sidebar -->
    <div class="container-col sidebar">
        <!-- logo -->
        <div class="sidebar-row logo">
            Caliban
        </div><!-- /logo -->
        <!-- sidebar-user -->
        <div class="sidebar-row sidebar-user">
            <div class="sidebar-user-pic">
                <img src="<%= @user.imageURL %>" />
            </div>
            <div class="sidebar-user-info">
                <div class="sidebar-user-info-detail name"><%= @user.name %></div>
                <div class="sidebar-user-info-detail"><%= @user.phoneNumber %></div>
                <div class="sidebar-user-info-detail"><%= @user.email %></div>
            </div>
        </div><!-- /sidebar-user -->
        <!-- sidebar-btns -->
        <div class="sidebar-row sidebar-btns">
            <div class="sidebar-btn edit-btn">edit account</div>
            <div class="sidebar-btn logout-btn">logout</div>
        </div><!-- /sidebar-btns -->
        <!-- sidebar-track -->
        <div class="sidebar-row sidebar-track">
            <div class="track-row header">&mdash; keeping in touch with &mdash;</div>
            <div class="track-row fraction">
                <div class="track-numer">025</div>
                <div class="track-denom">147 contacts</div>
                <div class="track-slash">/</div>
            </div>
        </div><!-- /sidebar-track -->
    </div><!-- /sidebar -->

    <!-- content -->
    <div class="container-col content">
        <!-- pings -->
        <div class="content-col pings">
            <div class="content-col-head"><span class="fa-bell"></span></div>
            <div class="list-create pings-pad">
              <div class="create-btn pings-create-btn"><span class="fa-plus"></span>Create Ping</div>
            </div>
            <div class="list pings-list">
              <ul>
                <li>Call <b>Nora Tarano</b> on Mondays</li>
                <li>Email <b>Ana Murillo</b> daily</li>
                <li>Email <b>Pilar Olivar</b> monthly</li>
                <li>Call <b>Nora Tarano</b> on Mondays</li>
                <li>Email <b>Ana Murillo</b> daily</li>
                <li>Email <b>Pilar Olivar</b> monthly</li>
                <li>Call <b>Nora Tarano</b> on Mondays</li>
                <li>Email <b>Ana Murillo</b> daily</li>
                <li>Email <b>Pilar Olivar</b> monthly</li>
                <li>Call <b>Nora Tarano</b> on Mondays</li>
                <li>Email <b>Ana Murillo</b> daily</li>
                <li>Email <b>Pilar Olivar</b> monthly</li>
                <li>Call <b>Nora Tarano</b> on Mondays</li>
                <li>Email <b>Ana Murillo</b> daily</li>
                <li>Email <b>Pilar Olivar</b> monthly</li>
              </ul>
            </div>
        </div><!-- /pings -->

        <div class="content-col content-sep"></div>

        <!-- contacts -->
        <div class="content-col contacts">
            <div class="content-col-head"><span class="fa-users"></span></div>
            <div class="list-create contacts-pad">
              <div class="create-btn contacts-create-btn"><span class="fa-plus"></span>Create Contact</div>
            </div>
            <div class="list contacts-list">
              <ul>
                <li>Ana Tarano</li>
                <li>Juan Sebastian Angarita</li>
                <li>Nora Tarano</li>
                <li>Pilar Olivar</li>
                <li>Ana Murillo</li>
                <li>Simon Perez Gonzalez</li>
                <li>Marlene Campos</li>
              </ul>
            </div>
      </div><!-- /contacts -->
    </div><!-- /content -->

</div><!-- /container -->
